@import 'src/app/core/sass/global';

.card {
  @include flex-column;
  background-color: $white;
  border-radius: 0.8rem;
  position: relative;

  .label {
    @include flex-center;
    position: absolute;
    background-color: $black;
    color: $white;
    margin: 0;
    width: 100%;
    bottom: 0;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 0 0 0.8rem 0.8rem;
    text-transform: uppercase;
  }
}

.selected-event {
  height: 22rem;
  width: 22rem;

  .img {
    height: 100%;
    width: 100%;
  }

  .label {
    height: 5rem;
    font-size: 2.5rem;
  }
}
