<app-shared-header></app-shared-header>
<ion-content>
  <div class="container">
    <section class="section">
      <p class="text">TUVE UN ACCIDENTE</p>
      <p class="info inter">{{ infoMessage }}</p>
    </section>
    <section class="section">
      <p class="text">¿SALISTE HERIDO?</p>
      <div class="radio-wrapper">
        <app-radio-button
          class="radio"
          value="SI"
          [selectedValue]="selectedValue"
          (changeSelected)="changeSelectedValue($event)"
        >
        </app-radio-button>
        <app-radio-button
          class="radio"
          value="NO"
          [selectedValue]="selectedValue"
          (changeSelected)="changeSelectedValue($event)"
        >
        </app-radio-button>
      </div>
    </section>
    <section class="section">
      <p class="text">CUENTANOS</p>
      <div class="textarea-container">
        <textarea
          class="multiline-input"
          [(ngModel)]="message"
          maxlength="500"
          minlength="100"
          rows="12"
          required
        ></textarea>
        <span class="material-icons camera-icon">
          photo_camera
        </span>
      </div>
      <app-primary-button class="button">ENVIAR</app-primary-button>
    </section>
  </div>
</ion-content>
