@import 'src/app/core/sass/colors';

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: setColor(firm-gray, 300);
}

.text {
  display: flex;
  margin: 1rem 0;
  width: 33.3rem;
  justify-content: flex-start;
  font-weight: bold;
}

.info {
  text-align: justify;
  font-size: 1.5rem;
  width: 33.3rem;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 31rem;
}

.textarea-container {
  margin-bottom: 1.5rem;
  width: 34rem;
  position: relative;
}

.multiline-input {
  background-color: setColor(firm-gray, 10);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 10px;
}

.camera-icon {
  position: absolute;
  bottom: 8%;
  left: 5%;
  font-size: 4.5rem;
  opacity: 50%;
}
