<div class="container">
  <div class="back-arrow" (click)="goToPreviousPage()">
    <span class="material-icons-round icon">
      arrow_back_ios
    </span>
  </div>
  <div class="header">
    <section class="header-wrapper">
      <img class="profile" *ngIf="!isProfileRoute()" src="assets/images/profile.svg" [routerLink]="['../profile']"
        alt="profile" />
      <img class="logo" (click)='navigate()' src="assets/images/logo.svg" alt="Logo">

      <div class="d-flex">
        <img src="assets/images/weather.svg" alt="weather">
        <section class="translate">
          <img class="translate-icon" src="assets/images/translate.svg" alt="translate">
          <p class="translate-label">ESP</p>
        </section>
      </div>
    </section>
  </div>
</div>
