<app-shared-header></app-shared-header>

<div class="container monserrat">
  <app-profile-header imgSrc="https://biz-app-bucket.s3.us-east-2.amazonaws.com/profile-image.png"></app-profile-header>
  <div class='profile-name'>
    <p class="name">PROFILE NAME</p>
  </div>
  <section class="profile-options">
    <div class="row">
      <app-display-button label="MIS VIAJES" class="top-left"></app-display-button>
      <app-display-button label="MIS DATOS" class="top-right"></app-display-button>
    </div>
    <div class="row">
      <app-display-button label="INGRESAR TARJETA" class="bottom-left"></app-display-button>
      <app-display-button label="NOTIFICACIONES" class="bottom-right"></app-display-button>
    </div>
  </section>
  <section class="customer-service" [routerLink]="['../customer-service']">
    <img class="image" src="https://biz-app-bucket.s3.us-east-2.amazonaws.com/iiz.png" alt="Customer Image">
    <p class="service-label">SERVICIO AL CLIENTE</p>
  </section>
</div>
<div class="main-button">
  <app-primary-button>Terminos y condiciones</app-primary-button>
</div>
