<app-shared-header></app-shared-header>

<div class="container monserrat">
  <section class="profile-wrapper">
    <div class="profile-photo">
      <span class="material-icons-outlined icon">
        edit
      </span>
      <img src="https://biz-app-bucket.s3.us-east-2.amazonaws.com/profile-image.png" alt="Profile Image">
    </div>
  </section>
  <div class ='profile-name'>
    <p class="name">PROFILE NAME</p>
  </div>
  <section class="profile-options">
    <div class="row">
      <div class="top-left">
        <div class="button">MIS VIAJES</div>
      </div>
      <div class="top-right">
        <div class="button">MIS DATOS</div>
      </div>
    </div>
    <div class="row">
      <div class="bottom-left">
        <div class="button">INGRESAR TARJETA</div>
      </div>
      <div class="bottom-right">
        <div class="button">NOTIFICACIONES</div>
      </div>
    </div>
  </section>
  <section class="customer-service">
    <img class="image" src="https://biz-app-bucket.s3.us-east-2.amazonaws.com/iiz.png" alt="Customer Image">
    <p class="service-label">SERVICIO AL CLIENTE</p>
  </section>
</div>
<div class="main-button">
  <app-primary-button>Terminos y condiciones</app-primary-button>
</div>
