@import 'src/app/core/sass/global';

.container {
  @include flex-column;
}

.header-container {
  width: 37.6rem;
  height: 38rem;
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/prado.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  @include flex-center;
  width: 17rem;
  height: 6rem;
  padding: 0.4rem;
}

.title {
  padding: 1.5rem;
  font-size: 1.5rem;
  color: $black;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.row {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.row-sh {
  display: flex;
  width: 34.3rem;
  font-size: 1.6rem;
}

.shortcuts {
  display: flex;
  align-items: flex-end;
  margin: 0.20rem;
  width: 16.5rem;
  height: 13rem;
  border-radius: 0.4rem;
  background-color: $white;
  box-shadow: 0rem 0rem 0.5rem 0.5rem hsla(0, 0%, 0%, 0.027);

  .text {
    text-align: justify;
    opacity: 0.6;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
