<div class="container monserrat">

  <div class="header-container">
    <app-shared-header></app-shared-header>

    <div class="profile-photo">
      <img src="https://biz-app-bucket.s3.us-east-2.amazonaws.com/profile-image.png" alt="Profile Image">
    </div>
    <div class='profile-name'>
      <p class="name">PROFILE NAME</p>
    </div>
    <div class="row">
      <div class="options">
        <img src="https://biz-app-bucket.s3.us-east-2.amazonaws.com/call.png" alt="Llamada">
      </div>
      <div class="options">
        <img src="https://biz-app-bucket.s3.us-east-2.amazonaws.com/message.png" alt="Mensaje">
      </div>
    </div>
  </div>
  <div class="tittle">
    SERVICIO AL CLIENTE
  </div>
  <div class="row-sh">
    <div class="shortcuts" [routerLink]="['../faq']">
      <div class="text">PREGUNTAS FRECUENTES</div>
    </div>
    <div class="shortcuts">
      <div class="text">SOBRE NOSOTROS</div>
    </div>
  </div>
  <div class="row-sh">
    <div class="shortcuts" [routerLink]="['../passenger/forgot-something']">
      <div class="text">OLVIDÉ ALGO</div>
    </div>
    <div class="shortcuts" [routerLink]="['../passenger/accident']">
      <div class="text">ME ACCIDENTÉ</div>
    </div>
  </div>
</div>
