@import 'src/app/core/sass/colors';

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 14.5rem;
  width: 16.5rem;

  .title {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    color: $white;
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-left: 3rem;
  }
}
