@import 'src/app/core/sass/colors';

.display-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 13.2rem;
  width: 16.7rem;
  border-radius: 0.4rem;
  background-image: url('https://biz-app-bucket.s3.us-east-2.amazonaws.com/especiales.png');
  background-size: cover;
}

.button {
  margin-bottom: 1.2rem;
  width: 11.7rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3rem;
}
