@import 'src/app/core/sass/colors';

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    color: $white;
    align-self: flex-start;
  }
}
