<app-shared-header></app-shared-header>
<div class="container">
  <div class="text">
    <div class="title">CUENTA</div>
  </div>
  <section class="section inter">
    <div class="text">
      Bloquear cuenta
      <span class="material-icons-outlined icon">
        arrow_forward_ios
        </span>
    </div>
  </section>
    <div class="line"></div>
    <div class="text">
      Cambiar numero de telefono
      <span class="material-icons-outlined icon">
        arrow_forward_ios
        </span>
    </div>
    <div class="line"></div>
    <div class="text">
      Seguridad
      <span class="material-icons-outlined icon">
        arrow_forward_ios
      </span>
    </div>
    <div class="line"></div>
    <div class="text">
      <div class="title">PAGOS Y PRECIOS</div>
    </div>
    <div class="text">
      Metodos de pago
      <span class="material-icons-outlined icon">
        arrow_forward_ios
      </span>
    </div>
    <div class="line"></div>
    <div class="text">
      Estimacion de precios
      <span class="material-icons-outlined icon">
        arrow_forward_ios
      </span>
    </div>
    <div class="line"></div>
    <div class="text">
      Costos por cancelacion
      <span class="material-icons-outlined icon">
        arrow_forward_ios
      </span>
    </div>
    <div class="line"></div>
    <div class="text">
      Costos por daño a la unidad
      <span class="material-icons-outlined icon">
        arrow_forward_ios
      </span>
    </div>
</div>
