<app-shared-header></app-shared-header>
<div class="container">
  <p class="text">
    Por Favor, Seleccione
    Una Razon Para Su
    Cancelacion
  </p>
  <section class="options">
    <div class="radio-buttons inter">
      <app-radio-button label="No lo diré" value="1" checked name="option"></app-radio-button>
      <hr class="line">
      <app-radio-button label="No pude contactar al chofer" value="2" name="option"></app-radio-button>
      <hr class="line">
      <app-radio-button label="El chofer llegó tarde" value="3" name="option"></app-radio-button>
      <hr class="line">
      <app-radio-button label="Precio del servicio" value="4" name="option"></app-radio-button>
      <hr class="line">
      <app-radio-button label="El lugar de recogida era incorrecto" value="5" name="option"></app-radio-button>
      <hr class="line">
    </div>
    <textarea
      value="message"
      class="custom-input"
      placeholder="Compártenos tu reporte"
    ></textarea>
    <app-primary-button>ENVIAR</app-primary-button>
  </section>
</div>
