<app-shared-header></app-shared-header>
<div class="container">
  <p class="text">
    Por Favor, Seleccione
    Una Razon Para Su
    Cancelacion
  </p>
  <section class="options">
    <form [formGroup]="cancelForm">
      <mat-radio-group aria-label="Select an option" formControlName="cancel">
        <div class="radio-buttons">
          <mat-radio-button [value]="0">No lo dire</mat-radio-button>
          <div class="line"></div>
          <mat-radio-button [value]="1">No pude contactar al chofer</mat-radio-button>
          <div class="line"></div>
          <mat-radio-button [value]="2">El chofer llego tarde</mat-radio-button>
          <div class="line"></div>
          <mat-radio-button [value]="3">Precio del servicio</mat-radio-button>
          <div class="line"></div>
          <mat-radio-button [value]="4">El lugar de recogida era incorrecto</mat-radio-button>
          <div class="line"></div>
        </div>
      </mat-radio-group>
      <textarea
        formControlName="message"
        class="custom-input"
        placeholder="Compartenos tu reporte:"
      ></textarea>
    </form>
    <app-primary-button>ENVIAR</app-primary-button>
  </section>
</div>
