<app-shared-header></app-shared-header>
<div class="container">
  <p class="text">
    Por Favor, Seleccione
    Una Razon Para Su
    Cancelacion
  </p>
  <section class="options">
    <div class="radio-buttons inter">
      <app-radio-button [values]="['No lo diré']" [name]="'options'" [selectedValue]="selectedValue"></app-radio-button>
      <hr class="line">
      <app-radio-button [values]="['No pude contactar al chofer']" [name]="'options'"></app-radio-button>
      <hr class="line">
      <app-radio-button [values]="['El chofer llegó tarde']" [name]="'options'"></app-radio-button>
      <hr class="line">
      <app-radio-button [values]="['Precio del servicio']" [name]="'options'"></app-radio-button>
      <hr class="line">
      <app-radio-button [values]="['El lugar de recogida era incorrecto']" [name]="'options'"></app-radio-button>
      <hr class="line">
    </div>
    <textarea
      [(ngModel)]="message"
      class="custom-input"
      placeholder="Compártenos tu reporte"
    ></textarea>
    <app-primary-button>ENVIAR</app-primary-button>
  </section>
</div>
