<app-shared-loading *ngIf="loading"></app-shared-loading>
<div class="card" [ngClass]="{'selected-driver' : unique}" *ngIf="!loading">
  <div class="labels" [ngClass]="{'unique-labels' : unique}">
    <div class="label" [ngClass]="{'unique-label' : unique}">
      <span class="span">
        <img
          class="icon"
          [ngClass]="{'icon' : unique}"
          [ngClass]="{'unique-icon' : unique}"
          src="https://biiz-bucket.s3.us-east-2.amazonaws.com/passenger-location.png"
        />
        <p class="no-margin">{{ driver.id }} </p>
      </span>
      <p class="no-margin"> {{ arriveTime }} </p>
    </div>
    <div class="label estimated" [ngClass]="{'unique-label' : unique}">
      <ion-icon name="location-sharp">
      </ion-icon>
      <p class="no-margin"> {{ finishTime }} </p>
    </div>
  </div>
  <img class="image" [src]="imageUrl" />
  <div class="price" [ngClass]="{'selected-driver' : unique}">
    <span> {{ fare }} </span>
  </div>
</div>
