<app-shared-loading class="loading" *ngIf="loading"></app-shared-loading>

<div class="container">
  <div class="map" #map></div>
  <app-shared-header class="header"></app-shared-header>

  <div class="driver-container">
    <app-driver-card class="driver" [unique]="true"  [driver]="driver"></app-driver-card>
    <div class="row">
      <app-secondary-button class="option">
        <ion-icon name="chatbox" class="icon"></ion-icon>
      </app-secondary-button>
      <app-secondary-button class="option">
        <img class="icon" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/call.png" alt="Llamada">
      </app-secondary-button>
    </div>
    <p class="red-button">CANCELAR</p>
  </div>
</div>
