<app-shared-header></app-shared-header>
<ion-content>
  <div class="container">
    <div class="main-button">
      <app-primary-button>MIS VIAJES</app-primary-button>
    </div>
    <section class="airport-banner-container">
    </section>
    <section class="airport-gap-container">
      <div class="title">AEROPUERTOS CERCANOS</div>
      <div class="toggle">
        <app-toggle-button label="MI UBICACION"></app-toggle-button>
      </div>
    </section>
    <section class="shared-container">
      <app-display-button
        message="PALMEROLA"
        class="xpl display-btn"
        title="XPL"
        (click)="selectAirport('XPL')"
        [labelGreen]="selected('XPL')"
      ></app-display-button>
      <app-display-button
        message="VILLEDA MORALES"
        class="rvm display-btn"
        title="RVM"
        (click)="selectAirport('RVM')"
        [labelGreen]="selected('RVM')"
      ></app-display-button>
    </section>
    <section class="shared-container">
      <app-display-button
        message="TONCONTIN"
        class="tct display-btn"
        title="TCT"
        (click)="selectAirport('TCT')"
        [labelGreen]="selected('TCT')"
      ></app-display-button>
      <app-display-button
        message="GOLOSON"
        class="gls display-btn"
        title="GLS"
        (click)="selectAirport('GLS')"
        [labelGreen]="selected('GLS')"
      ></app-display-button>
    </section>
    <div class="main-button">
      <app-primary-button (btnClick)="goToPath()">CONFIRMAR DESTINO</app-primary-button>
    </div>
  </div>
</ion-content>
