@import 'src/app/core/sass/global';

.container {
  @include flex-column;
  gap: 0.7rem;
}

.main-button {
  @include flex-center;
  margin: 0.5rem;
}

.airport-banner-container {
  height: 18rem;
  width: 34.2rem;
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/airport-banner.png');
  border-radius: 0.6rem;
  @include flex-center;
}

.airport-gap-container {
  height: 1rem;
  width: 34.2rem;
  @include flex-center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;

  .title,
  .toggle {
    margin: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
  }
}

.shared-container {
  @include flex-center;
  gap: 0.8rem;
  border-radius: 0.6rem;

  .first-container,
  .second-container {
    @include flex-center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13.2rem;
    width: 16.7rem;
    border-radius: 0.4rem;

    .title {
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
      color: $white;
      align-self: flex-start;
      margin-top: 1.5rem;
      margin-left: 3rem;
    }

    .label {
      margin-bottom: 1.2rem;
    }
  }
}

.xpl {
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/airport-location-4.png');
}

.rvm {
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/airport-location-3.png');
  background-repeat: no-repeat;
}

.tct {
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/airport-location-1.png');
}

.gls {
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/airport-location-2.png');
  background-repeat: no-repeat;
}

.label {
  width: 12.2rem;
  background-color: $white;
  @include flex-center;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3rem;
}
