<app-shared-header></app-shared-header>

<div class="main-button">
  <app-primary-button>MIS VIAJES</app-primary-button>
</div>

<div class="container monserrat">
  <section class="airport-banner-container">
  </section>
  <section class="airport-gap-container">
    <div class="title">AEROPUERTOS CERCANOS</div>
    <div class="toggle">
      <app-toggle-button label="MI UBICACION"></app-toggle-button>
    </div>
  </section>
  <section class="shared-container">
    <section class="first-container xpl">
      <div class="title">XPL</div>
      <div class="label">PALMEROLA</div>
    </section>
    <section class="second-container rvm">
      <div class="title">RVM</div>
      <div class="label">VILLEDA MORALES</div>
    </section>
  </section>
  <section class="shared-container">
    <section class="first-container tct">
      <div class="title">TCT</div>
      <div class="label">TONCONTIN</div>
    </section>
    <section class="second-container gls">
      <div class="title">GLS</div>
      <div class="label">GOLOSON</div>
    </section>
  </section>

  <div class="main-button">
    <app-primary-button>CONFIRMAR DESTINO</app-primary-button>
  </div>
</div>
