<app-shared-header></app-shared-header>
<div class="main-button">
  <app-primary-button>MIS VIAJES</app-primary-button>
</div>
<div class="container monserrat">
  <section class="airport-banner-container">
  </section>
  <section class="airport-gap-container">
    <div class="title">AEROPUERTOS CERCANOS</div>
    <div class="toggle">
      <app-toggle-button label="MI UBICACION"></app-toggle-button>
    </div>
  </section>
  <section class="shared-container">
    <app-display-button message="PALMEROLA" class="xpl" title="XPL"></app-display-button>
    <app-display-button message="VILLEDA MORALES" class="rvm" title="RVM"></app-display-button>
  </section>
  <section class="shared-container">
    <app-display-button message="TONCONTIN" class="tct" title="TCT"></app-display-button>
    <app-display-button message="GOLOSON" class="gls" title="GLS"></app-display-button>
  </section>
  <div class="main-button">
    <app-primary-button>CONFIRMAR DESTINO</app-primary-button>
  </div>
</div>
