<app-shared-header></app-shared-header>

<div class="container monserrat">
  <section class="trip-container">
    <div class="button-container">
      <div class="label">7 MIN.</div>
      <div class="button">SOLICITAR UNIDAD</div>
    </div>
  </section>
  <section class="experience-container" [routerLink]="['../experiences']">
    <div class="button-container">
      <div class="label">SOON</div>
      <div class="button">EXPERIENCIAS</div>
    </div>
  </section>
  <section class="shared-container">
    <app-display-button label="VIAJE AEROPUERTO" routerLink="../airport" class="airport-container"></app-display-button>
    <app-display-button label="ESPECIALES" routerLink="../specials" class="specials-container"></app-display-button>
  </section>
</div>

<div class="main-button">
  <app-primary-button>MIS VIAJES</app-primary-button>
</div>
