@import 'src/app/core/sass/global';

.container {
  @include container;
  gap: 0.7rem;
}

.main-button {
  @include flex-center;
  margin: 0.5rem;
}

.trip-container {
  height: 31.6rem;
  width: 34.2rem;
  @include background-cover('https://biz-app-bucket.s3.us-east-2.amazonaws.com/unidad.png');
  border-radius: 0.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .label {
    margin-bottom: 1.4rem;
  }
}

.experience-container {
  height: 13.2rem;
  width: 34.2rem;
  border-radius: 0.6rem;
  @include background-cover('https://biz-app-bucket.s3.us-east-2.amazonaws.com/experiencias.png');

  .button-container {
    flex-direction: column;
    gap: 5rem;

    .label {
      align-self: flex-end;
    }
  }
}

.shared-container {
  display: flex;
  gap: 0.5rem;
}

.airport-container {
  @include background-cover('https://biz-app-bucket.s3.us-east-2.amazonaws.com/airport.png');
}

.specials-container {
  @include background-cover('https://biz-app-bucket.s3.us-east-2.amazonaws.com/especiales.png');
}

.button {
  width: 11.7rem;
  background-color: $white;
}

.label {
  width: 6.6rem;
  background-color: $green;
}

.button-container {
  display: flex;
  gap: 0.5rem;
  margin: 1.4rem;
}

.button,
.label {
  @include flex-center;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3rem;
}
