@import 'src/app/core/sass/global';

.container {
  @include flex-column;
  width: 100%;
}

.text {
  margin: 1rem;
  margin-left: 2rem;
  width: 34rem;
  width: 65%;
  text-align: start;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  width: 34rem;

  .btn {
    text-align: center;
    background-color: $black;
    min-width: 16.9rem;
    border-radius: 0.4rem;
  }
}

.confirm {
  margin-top: 0.5rem;
  width: 34rem;
  background-color: $black;
  border-radius: 0.4rem;

  .text {
    text-align: center;
    margin-left: 6rem;
    margin-top: 2.5rem;
  }

}

.button-image {
  height: 1.6rem;
  position: relative;
  bottom: 2.3rem;
  left: 43%;
}
