@import 'src/app/core/sass/global';

.container {
  @include flex-column;
  width: 100%;
}

.map {
  @include flex-column;
  height: 50rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  height: 100%;
  width: 40%;
}

.text {
  margin: 1rem;
  margin-left: 2rem;
  width: 34rem;
  width: 65%;
  text-align: start;
}

.confirm {
  text-align: center;
  align-items: center;
}

.button-image {
  height: 1.6rem;
}