@import 'src/app/core/sass/global';

.container, .map {
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map {
  position: absolute;
}

.button-container {
  @include flex-column;
  gap: 0.5rem;
  margin-bottom: 3rem;

  .confirm {
    width: 90%;
  }

  .text {
    margin: 0;
  }
}

.options {
  display: flex;
  width: 90%;
  gap: 0.5rem;

  .btn {
    text-align: center;
    width: 50%;
    border-radius: 0.4rem;
  }
}

.button-image {
  position: absolute;
  right: 2rem;
}

.autocomplete {
  display: flex;
  z-index: 1;
  width: 90%;
  margin-bottom: 10%;
  background-color: $white;
  border-radius: 1rem;

  .autocomplete-img {
    @include flex-column;
    justify-content: center;
    width: 10%;
  }
}

.input-wrapper {
  width: 90%;
}
