<app-shared-loading class="loading" *ngIf="loading"></app-shared-loading>

<div class="container">
  <div class="map" #map></div>
  <app-shared-header class="header"></app-shared-header>
  <div class="button-container" [ngClass]="{'animate': travelConfirmed}">
    <div class="autocomplete">
      <div class="autocomplete-img">
        <img class="logo" src="assets/images/location-arrows.svg">
      </div>
      <div class="input-wrapper">
        <form [formGroup]="addressForm">
          <div class="form-field">
            <input
              [(ngModel)]="autocompleteCurrent.input"
              [readonly]="travelConfirmed"
              (input)="UpdateSearchResults(autocompleteCurrent)"
              placeholder="Dirección actual"
              formControlName="startAddress"
              class="input"
              required
            >
            <ion-icon class="icon" name="close" *ngIf="!travelConfirmed" (click)="ClearAutocomplete()"></ion-icon>
          </div>
          <mat-list *ngIf="autocompleteCurrentAddresses.length !== 0 && !travelConfirmed">
            <mat-list-item *ngFor="let item of autocompleteCurrentAddresses" tappable (click)="SelectSearchResult(item.description)">
              {{ item.description }}
            </mat-list-item>
          </mat-list>
          <div class="form-field">
            <input
              [(ngModel)]="autocompleteDestination.input"
              [readonly]="travelConfirmed"
              (input)="UpdateSearchResults(autocompleteDestination, true)"
              placeholder="Dirección de destino"
              formControlName="endAddress"
              class="input"
              required
            >
            <ion-icon class="icon" name="close" *ngIf="!travelConfirmed" (click)="ClearAutocomplete(true)"></ion-icon>
          </div>
          <mat-list *ngIf="autocompleteDestinationAddresses.length !== 0  && !travelConfirmed">
            <mat-list-item *ngFor="let item of autocompleteDestinationAddresses" tappable (click)="SelectSearchResult(item.description, true)">
              {{ item.description }}
            </mat-list-item>
          </mat-list>
        </form>
        <!-- <ion-input
          [(ngModel)]="autocompleteCurrent.input"
          (ionInput)="UpdateSearchResults(autocompleteCurrent)"
          placeholder="Dirección actual"
          (ionClear)="ClearAutocomplete()"
          [clearInput]="!travelConfirmed"
          [readonly]="travelConfirmed"
        ></ion-input>
        <ion-list *ngIf="autocompleteCurrentAddresses.length !== 0 && !travelConfirmed">
          <ion-item *ngFor="let item of autocompleteCurrentAddresses" tappable (click)="SelectSearchResult(item.description)">
            {{ item.description }}
          </ion-item>
        </ion-list>
        <ion-input
          [(ngModel)]="autocompleteDestination.input"
          (ionInput)="UpdateSearchResults(autocompleteDestination, true)"
          placeholder="Dirección de destino"
          (ionClear)="ClearAutocomplete(true)"
          [clearInput]="!travelConfirmed"
          [readonly]="travelConfirmed"
        ></ion-input>
        <ion-list *ngIf="autocompleteDestinationAddresses.length !== 0  && !travelConfirmed">
          <ion-item *ngFor="let item of autocompleteDestinationAddresses" tappable (click)="SelectSearchResult(item.description, true)">
            {{ item.description }}
          </ion-item>
        </ion-list> -->
      </div>
    </div>
    <div [@inAnimation] class="driver-container" *ngIf="!driverSelected && travelConfirmed">
      <app-available-drivers (selected)="selectDriver($event)"></app-available-drivers>
    </div>
    <div [@inAnimation] class="selected" *ngIf="driverSelected && travelConfirmed" >
      <app-driver-card class="driver" [driver]="selectedDriver" [unique]="true"></app-driver-card>
      <app-primary-button class="confirm" (btnClick)="startTrip()">
        <p class="text">CONFIRMAR VIAJE</p>
        <img class="button-image" [src]="imageUrl">
      </app-primary-button>
    </div>
    <div class="options" *ngIf="!travelConfirmed">
      <app-secondary-button class="btn">EVENTOS</app-secondary-button>
      <app-secondary-button class="btn">PROGRAMAR</app-secondary-button>
    </div>
    <app-primary-button class="confirm" (btnClick)="submit()" *ngIf="!travelConfirmed">
      <p class="text">CONFIRMAR DESTINO</p>
      <img class="button-image" [src]="imageUrl">
    </app-primary-button>
  </div>
</div>
