@import 'src/app/core/sass/global';

.table {
  background-color: $white;
}

.header-row {
  height: 1rem;

  .header {
    color: $white;
    font-size: 0.6rem;
    font-weight: bold;
    width: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}


.calendar-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: $black;
  color: $white;
  border-radius: 0.5rem;
  width: 33.8rem;
  height: 11.4rem;
  letter-spacing: 0rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7.3rem;
  margin-left: 2rem;

  .logo {
    position: absolute;
    width: 4.5rem;
  }

  .label {
    position: relative;
    margin-top: 1.5rem;
  }
}


.date {
  width: 12.3rem;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7.3rem;
  gap: 0.3rem;
  margin-right: 2rem;
}

.clock-wrapper {
  display: flex;
  gap: 0.2rem;

  .dots{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .label {
    width: 3.3rem;
  }
}

.label {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.3rem;
  height: 2.3rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: $green;
  color: $black
}
