<div class="container">
  <div class="login-header">
    <div class="translate-box" >
      <div class="translate">
        <img class="icon" src="assets/images/translate.svg" alt="translate">
      </div>
    </div>
    <img class="logo" src="assets/images/logo.svg">
    <p class="version">ALFA</p>
  </div>
  <div class="login-footer">
    <div class="terms" id="open-modal">
      <div [ngClass]="{'not-accepted' : !acceptedTerms}" class="terms-color"></div>
      <p class="text">TERMINOS Y CONDICIONES</p>
    </div>
    <form [formGroup]="loginForm" class="form-field">
      <input
        class="input"
        placeholder="NOMBRE DE USUARIO"
        formControlName="email"
        maxlength="50"
        minlength="1"
        required
      >
      <input
        class="input"
        placeholder="CONTRASEÑA"
        formControlName="password"
        maxlength="50"
        minlength="1"
        type="password"
        required
      >
    </form>
    <div class="login" (click)="onSubmit()">
      <img class="button-image" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/iiz.png">
    </div>
  </div>
  <img class="atlantis" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/atlantis-logo-gray.png"/>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon (click)="cancel()" class="icon red" name="close-outline"></ion-icon>
          </ion-buttons>
          <ion-title class="modal-title">TÉRMINOS Y CONDICIONES</ion-title>
          <ion-buttons slot="end">
            <ion-icon (click)="confirm()" class="icon green" name="checkmark-outline"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        {{ message }}
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
