<app-shared-header></app-shared-header>

<div class="container">
  <section class="inputs">
    <form>
      <div>
        <p class="label">NUMERO DE TARJETA</p>
        <input class="input"/>
      </div>
      <div>
        <p class="label">NOMBRE EN LA TARJETA</p>
        <input class="input"/>
      </div>
      <div class="half-row">
        <div class="form-field">
          <p class="label">FECHA DE VENCIMIENTO</p>
          <input class="input"/>
        </div>
        <div class="form-field">
          <p class="label">CCV</p>
          <input class="input"/>
        </div>
      </div>
    </form>
    <div class="green-button">
      <img class="scan-icon" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/scanner-icon.png">
      <p class="scan-label">ESCANEAR TARJETA</p>
    </div>
  </section>

  <section class="cards">
    <p>-- MIS TARJETAS --</p>
    <div class="card inter">
      <img class="card-type" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/mastercard.png"/>
      <p class="card-number">**** 8295</p>
    </div>
    <div class="card inter">
      <img class="card-type" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/visa.png"/>
      <p class="card-number">**** 3704</p>
    </div>
    <div class="banner">
      <p class="soon-label inter">SOON</p>
      <p class="pass-label">PASE BIIZ</p>
    </div>
  </section>
</div>

