<div class="container">
  <app-shared-header></app-shared-header>
  <div class="info-wrapper">
    <section class="section">
      <div class="display">
        <p class="noti">SIN INCIDENTES</p>
        <p class="label">TU VIAJE HA FINALIZADO</p>
        <ion-icon class="check" name="checkmark-circle"></ion-icon>
        <span class="card">
          <ion-icon class="icon" name="card"></ion-icon>
        </span>
      </div>
      <div class="trip-info">
        <p class="red-label">REPORTAR</p>
        <div class="address-wrapper">
          <div class="time-container inter">
            <p class="time"> {{ startTime }} </p>
            <p class="time"> {{ endTime }} </p>
          </div>
          <img class="image" src="assets/images/location-arrows.svg">
          <div class="address-container">
            <p class="address"> {{ trip.startAddress }} </p>
            <p class="address"> {{ trip.endAddress }} </p>
          </div>
        </div>
      </div>
      <div class="tip">
        <p class="tip-label">PROPINA</p>
        <p class="tip-option">5%</p>
        <p class="tip-option">10%</p>
      </div>
      <div class="footer">
        <img class="logo" src="https://biiz-bucket.s3.us-east-2.amazonaws.com/atlantis-logo-white.png">
        <p class="fare"> {{ trip.fare }} LPS</p>
      </div>
    </section>
    <app-primary-button
      class="btn"
      [showNotification]="true"
      (btnClick)="goHome()"
    >
      REGRESAR A INICIO
    </app-primary-button>
  </div>
</div>
