@import 'src/app/core/sass/global';

.section {
  @include flex-column;
  color: setColor(firm-gray, 300);
}

.text {
  @include text;
}

.info {
  text-align: justify;
  font-size: 1.5rem;
  width: 33.3rem;
}

.form-field {
  width: 33.3rem;
  height: 25.7rem;

  .multiline-input {
    @include multiline-input;
  }
}
