<app-shared-header></app-shared-header>
<ion-content>
  <div class="container">
    <div class="section">
      <p class="text">OLVIDÉ ALGO</p>
      <p class="info inter"> {{ message }} </p>
    </div>
    <div class="section">
      <p class="text">CUENTANOS</p>
      <form [formGroup]="forgotSomethingForm" class="form">
        <mat-form-field class="form-field">
          <textarea
            class="multiline-input"
            placeholder="Tu mensaje aquí"
            matInput
            formControlName="message"
            maxlength="500"
            minlength="1"
            rows="9"
            required
          ></textarea>
        </mat-form-field>
      </form>
      <app-primary-button class="button">ENVIAR</app-primary-button>
    </div>
  </div>
</ion-content>
