<app-shared-header></app-shared-header>
<section class="section monserrat">
  <div class="text">
    OLVIDÉ ALGO
  </div>
  <div class="info">
    Si dejo algo olvidado contactanos Io mas
    pronto posible, y brindenos la mayor cantidad
    de detalles, Ie conectaremos directamente
    con su chofer asignado. Puedes tambien
    comunicarte via chat en vivo o llamar a
    nuestros numeros de servicio al cliente que
    24 horas del dia.
  </div>
  <div class="text">
    CUENTANOS
  </div>
  <mat-form-field class="message mat-form-field-underline ">
    <mat-label>Tu mensaje aqui</mat-label>   
    <input matInput> 
  </mat-form-field>
  <div class="sent">
    Enviar
  </div>
</section>
