<app-shared-header></app-shared-header>
<app-profile-header></app-profile-header>
<ion-content>
  <div class="container">
    <div class="info">
      <p>NOMBRE COMPLETO</p>
      <input
        type="text"
        class="custom-input"
        [value]="user.fullName"
        readonly
      />
      <p>DIRECCION PRINCIPAL</p>
      <input
        type="text"
        class="custom-input"
        [value]="address"
        maxlength="100"
        minlength="6"
        readonly
      />
      <div class="row">
        <div class="section">
          <p>CORREO</p>
          <input
            type="email"
            class="custom-input-s"
            [value]="user.email"
            maxlength="100"
            minlength="6"
            readonly
          />
        </div>
        <div class="section">
          <p>TELEFONO</p>
          <input
            type="tel"
            class="custom-input-s"
            [value]="user.phoneNumber"
            maxlength="10"
            minlength="6"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="scanner">
        <img [src]='imageUrl' alt="Imagen del escáner" class="image-container">
        ESCANEAR ID/LICENCIA
      </div>
      <div class="row-btn">
        <div class="btn-id">ID</div>
        <div class="btn-scanner">LICENCIA</div>
      </div>
      <div class="banner">
        <img class="image">
        <p class="text">PASE BIZZ</p>
        <p class="soon">SOON</p>
      </div>
      <div class="notification">
        NOTIFICACIONES
        <app-toggle-button></app-toggle-button>
      </div>
    </div>
  </div>
</ion-content>
